/*Suporte de acentuações*/
@charset "UTF-8";

/*Carregando fontes*/
@font-face {
    font-family: 'ST';
    src: url('fontes/SvelteTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'K&Q';
    src: url('fontes/King\ &\ Queen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'AR';
    src: url(fontes/Agbalumo-Regular.ttf);}

/*Variáveis*/
:root{
    --cor1: #805137;}


/*Tirando margens geradas automaticamente*/
* {
    margin: 0px;
    padding: 0px;}
/*Estilos da introdução do site*/
header{
    /*Imagem de fundo da introdução*/
    background-image: url(imagens/background.jpg);
    background-attachment: fixed;
    /*Tamanho da imagem de fundo*/
    height: 100vh;
    /*Posição do texto introdutório*/
    text-align: center;}
header h1{
    /*Posicionamento do texto no centro*/
    padding-top: 30vh;
    /*Tipo, tamanho e formato da fonte utilizada*/
    font-family: 'AR';
    font-size: 5vh;
    font-style: normal;
    text-decoration: none;

    /*Cor da fonte*/
    color: var(--cor1);}
header img{
    /*Tamanho da imagem utilizada*/
    height: 7.5vw;
    width: 7.5vw;}





